[submodule "panda"]
	path = panda
	url = https://github.com/Jackh208/panda.git
	branch = master
[submodule "opendbc"]
	path = opendbc
	url = https://github.com/Jackh208/opendbc.git
	branch = master
[submodule "laika_repo"]
	path = laika_repo
	url = https://github.com/Jackh208/laika.git
	branch = master
[submodule "cereal"]
	path = cereal
	url = https://github.com/Jackh208/cereal.git
	branch = master
[submodule "rednose_repo"]
	path = rednose_repo
	url = https://github.com/Jackh208/rednose.git
	branch = master

